* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.mContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 25%;
}

.close {
    height: 30px;
}

.close button {
    border: none;
    font-size: 30px;
    background-color: #fefefe;
    float: right;
}

.close button:hover {
    color: #888;
}

.form {
    margin: auto;
    width: 240px;
}

.form label {

}

.form input {
    height: 30px;
    border-radius: 15px;
}

.form button {
    height: 30px;
    background-color: #fefefe;
    border-radius: 15px;
    width: 240px;
}

.form button:hover {
    background-color: #888;
}


.header {
    height: 100%;
    width: 100%;
}

.top {
    display: block;
    height: 55px;
}  

.top ul {
    overflow: hidden;
    list-style-type: none;
    background-color: aqua;
}

.top li {
    float: left;
}

.top h1 {   
    background-color: aqua;
    padding: 8px;
    font-size: 34px;
    display: block;
}

.top button {
    display: block;
    text-align: center;
    padding: 16px;
    border: none;
    background-color: aqua;
}

.sidebar {
    display: block;
    width: 20%;
    background-color: white;
}

.sidebar div {
    height: 50px;
    width: 100%;
    margin: auto;
}

.top button:hover {
    background-color: gray;
}

.body div {
    float: left;
}

.content {
    display: block;
    background-color: aquamarine;
    height: 100%;
    width: 80%;
}