#kildekode {
    resize: none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    height: 200px;
    border-radius: 5px;
} 
#submit {
    height: 20px;
    width: 100%;
    background-color: aqua;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}

code div {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}

.leaderboard {
    background-color: lightgray;
    max-height: 400px;
    overflow-y: auto;
    width: fit-content;
    height: fit-content;
}

table {
    size: 20px;
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    background-color: aqua;
}

th, td {
    padding: 20px 40px 20px 10px;
    text-align: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
