#kildekode {
    resize: none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    height: 200px;
    border-radius: 5px;
} 
#submit {
    height: 20px;
    width: 100%;
    background-color: aqua;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}

code div {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}